
@{
    ViewData["Title"] = "Index";
}

<br />
<h1 class="offset-2">Index</h1>
<hr />
<br />

<h5 class="offset-2">I do currently <strong>not</strong> uphold any useful information.<br />
    My creator has just assigned this view as a temp view so he can see that it all functions.</h5>

<hr />